<ng-container *ngIf="product$ | async as product;else loader">
    <div class="container">
        <div class="py-5">
            <div class="col-12 col-md-8 col-lg-6 mx-auto">
                <img [src]="product.featuredImageUrl" [alt]="product.name" [name]="product.name" class="img-fluid">

                <h1 class="mt-4">{{product.name}}</h1>
                <h1 class="mt-4">{{product.stock}}</h1>

                <div class="mt-3">
                    <ng-container *ngIf="IsUserLoggedIn()">
                        <i class="bi" [ngClass]="{'bi bi-bag-check': !isLikedByUser, 
                        'bi bi-bag-check-fill': isLikedByUser}" (click)="likeButtonClick()"></i>
                    </ng-container>

                </div>

                <td (mouseenter)="makePriceBigger()" (mouseleave)="resetPriceSize()">
                    <span [class.bigger-on-hover]="isHovering">{{product.price}}</span>
                </td>

                <div class="d-flex justify-content-between mt-4">
                    <span>{{product.stock}}</span>
                    <span>{{product.publishedDate | date:'dd-MM-yyyy'}}</span>
                </div>

                <div *ngIf="product.categories" class="mt-4">
                    <span class="badge bg-secondary me-2" *ngFor="let category of product.categories">
                        {{category.name}}
                    </span>
                </div>

                <div class="mt-4 blog-content">
                    <markdown [data]="product.description"></markdown>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loader>
    <div class="text-center mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>