<ng-container *ngIf="blogPost$ | async as blogPost;else loader">
    <div class="container">
        <div class="py-5">
            <div class="col-12 col-md-8 col-lg-6 mx-auto">
                <img [src]="blogPost.featuredImageUrl" [alt]="blogPost.title" [title]="blogPost.title" class="img-fluid">

                <h1 class="mt-4">{{blogPost.title}}</h1>

                <div class="mt-3">
                    <ng-container *ngIf="IsUserLoggedIn()">
                        <i class="bi" [ngClass]="{'bi-hand-thumbs-up': !isLikedByUser, 
                        'bi-hand-thumbs-up-fill': isLikedByUser}" 
                        (click)="likeButtonClick()"></i>
                      </ng-container>

                    <span> {{totalLikes}}</span> Likes
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <span>{{blogPost.author}}</span>
                    <span>{{blogPost.publishedDate | date:'dd-MM-yyyy'}}</span>
                </div>

                <div *ngIf="blogPost.categories" class="mt-4">
                    <span class="badge bg-secondary me-2" *ngFor="let category of blogPost.categories">
                        {{category.name}}
                    </span>
                </div>

                <div class="mt-4 blog-content">
                    <markdown [data]="blogPost.content"></markdown>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5>Comments</h5>

                        <ng-container *ngIf="IsUserLoggedIn()">
                            <form>
                                <div class="mt-3">
                                    <label class="form-label">Comment Description</label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="mt-2">
                                    <button type="submit" class="btn btn-dark">Submit</button>
                                </div>
                            </form>
                          </ng-container>

                    </div>
                </div>

                <div class="card w-100 mt-3">
                    <div class="card-body">
                      <ng-container *ngIf="blogPost.comments">
                        <span *ngFor="let comment of blogPost.comments">
                          <h5>{{comment.userId}}</h5>
                          <!-- <span class="small">{{ comment.dateAdded | date: timeAgo }}</span> -->
                          <p>{{comment.description}}</p>
                        </span>
                      </ng-container>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-container>

<ng-template #loader>
    <div class="text-center mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>