<div class="card h-100">
    <div class="card-header">
        <h3 class="card-title">Images</h3>
    </div>
    
    <div class="card-body">
        <div class="d-flex flex-medium-row flex-sm-colomn flex-wrap">
            <div class="col-8 p-4">

            </div>
            <div class="col-4 p-4 bg-light">
                <h5>Upload Image</h5>

                <form #form="ngForm" (ngSubmit)="uploadImage()">
                    <div class="mt-3">
                        <input type="file" class="form-control" (change)="onFileUploadChange($event)">
                    </div>

                    <div class="mt-3">
                        <input type="text" class="form-control" placeholder="File Name" name="filename" [(ngModel)]="fileName">
                    </div>

                    <div class="mt-3">
                        <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="title">
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-dark">Upload</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>