<div class="container">
    <h1 class="mt-3">Users List</h1>

    <ng-container *ngIf="user$ | async as users">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>User Name</th>
                    <th>Phone Number</th>
                    <th>Two Factor Enabled</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <!-- <td>{{user.username}}</td>  -->

                    <td>
                        <ng-container *ngIf="user.userName !== null; else nullTemplate">
                            {{user.userName}}
                        </ng-container>
                        <ng-template #nullTemplate>
                            null
                        </ng-template>
                    </td>

                    <!-- <td>{{user.phonenumber}}</td> -->

                    <td>
                        <ng-container *ngIf="user.phoneNumber !== null; else nullTemplate">
                            {{user.phoneNumber}}
                        </ng-container>
                        <ng-template #nullTemplate>
                            null
                        </ng-template>
                    </td>

                    <td>{{user.twoFactorEnabled}}</td>
                    <td> 
                        <a class="btn btn-light" [routerLink]="['/admin/users', user.id]">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>