<div class="container">
    <h1 class="mt-3">Product List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/products/add']" class="btn btn-primary">Add product</a>
    </div>

    <ng-container *ngIf="product$ | async as products">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Categories</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.name}}</td>
                    <td>{{product.stock}}</td>
                    <td>{{product.stock}}</td>
                    <td>${{product.price}}
                        <td>
                            <span *ngFor="let category of product.categories">
                            <span class="badge bg-secondary me-2">{{category.name}}</span>
                            </span>
                        </td>
                        <td>
                            <a class="btn btn-light" [routerLink]="['/admin/products', product.id]">Edit</a>
                        </td>
                </tr>
            </tbody>
        </table>

    </ng-container>

</div>