<div class="container">
    <div class="mt-5">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <h1>Register</h1>

            <form #form="ngForm" (ngSubmit)="onFormSubmit()">
                <div class="mt-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email">
                </div>

                <div class="mt-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        [(ngModel)]="model.password">
                </div>

                <div class="mt-3">
                    <label for="repeatPassword" class="form-label">Repeat password</label>
                    <input type="password" class="form-control" id="repeatPassword" name="repeatPassword"
                        [(ngModel)]="model.repeatPassword">
                </div>
                

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <div class="mt-3">
                    <p class="mb-0">Already have an account? <a href="/login" class="text-black-50 fw-bold">Register</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>