<div class="container">
    <h1 class="mt-3">Order List</h1>

    <!-- <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/categories/add']" class="btn bnt-primary">Add Category</a>
    </div> -->

    <ng-container *ngIf="orders$ | async as orders">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                    <th>User Id</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.id}}</td>
                    <td>{{order.orderDate}}</td>
                    <td>{{order.totalAmount}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.userId}}</td>
                    <td>
                        <a class="btn btn-light" [routerLink]="['/admin/orders', order.id]">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>