<div class="container">
    <h1 class="mt-3">Додати Категорію</h1>

    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2">
            <div class="mt-3">
                <label class="form-label">Назва категорії</label>
                <input type="text" id="categotyName" class="form-control" name="categoryName" [(ngModel)]="model.name">
            </div>

            <div class="mt-3">
                <label class="form-label">Url Категорії</label>
                <input type="text" id="categotyUrlHandle" class="form-control" name="categotyUrlHandle" [(ngModel)]="model.urlHandle">
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Зберегти</button>
            </div>
        </div>
    </form>
</div>